<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>portfolio requirements</string>
	<string>application directions</string>
	<string>connect to emily carr</string>
	<string>visit us</string>
	<string>future artists / future designers</string>
</array>
</plist>
