<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>summer institute for teens /
year round programs</string>
	<string>essentials programs
design | interaction design</string>
	<string>welcome lab</string>
</array>
</plist>
