<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>The motion capture and stereographics (MOCAP) studio</string>
	<string>The electronics lab, part of the Wearables and Interactive Products (IDS) studio</string>
	<string>The CNC router at work, part of Emily Carr&apos;s extensive 3D prototyping technologies</string>
	<string>A film + animation studio</string>
	<string>The soft shop, equipped with industrial embroidery and sewing machines</string>
</array>
</plist>
