<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>foundation</string>
	<string>bachelor of design</string>
	<string>bachelor of media arts</string>
	<string>bachelor of fine arts</string>
	<string>minors</string>
</array>
</plist>
