<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Crab Structure
Megan Kwan - Foundation</string>
	<string>A Red Boat Drifts
Trevor Van den Eijnden - MAA Visual Arts</string>
	<string>Cards
Tharit Ketprapakorn - 2nd Year Industrial Design </string>
	<string>Cosmo the Parrot Character Sheet
Caitlin Cowan - 2nd Year Animation</string>
	<string>Foxy
Kelly Baker - 3rd Year Illustration</string>
	<string>Glint
Avalon Mott - 4th Year Photography</string>
	<string>Still Life
Lynn Price - 4th Year Visual Arts</string>
	<string>Head Cluster
Dipen (Sunny) Shaw - 4th Year Illustration</string>
	<string>Ink
Yili Lou - 2nd Year Interaction Design</string>
	<string>Geode
Karla Tull-Easterbrook - 4th Year Industrial Design</string>
	<string>Lines of Innocents
Liis Kalda - 3rd Year Illustration</string>
	<string>Naked Tuesday
Cathleen Chow - 4th Year Visual Arts</string>
	<string>On Top of the World
Crystal Chan - 3rd Year Communication Design</string>
	<string>Porcelain Landscape
Carly Mucha - 3rd Year Visual Arts</string>
	<string>The Copycat
Rachel Schneyer - 3rd Year Illustration</string>
	<string>Visual Journal
Flora Brodie - 3rd Year Visual Arts</string>
</array>
</plist>
