Graduate applicants are required to submit a portfolio of 18 - 20 examples of your visual projects; this may include documentation of static (2D or 3D) and dynamic (sound, video, performance, etc) work.  
For full admission details visit: ecuad.ca/admissions/graduate